.navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width:100%;
    height: 60px;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
.logo{
    width: 150px;
    height: 36px;
   
}
.list{
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
}

a:hover{
    color: #ec268f;
}
a{
    text-decoration: none;
    color: black;
}

.ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
}
.bar{
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
}
li{
        list-style: none;
    margin-left: 30px;
    font-weight: 600;


}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    background-color: 
#1c1148;
color: #ec268f;
font-weight: 700;
font-size:32px;
    padding-bottom: 40px;
}
.story{
    color:#ec268f;
    font-weight: 700;
font-size:32px;
    padding-top: 70px;
    padding-bottom: 40px;
    text-align: center;

}
.story-content{
    display: flex;
    justify-content:start;
    align-items: start;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
 
    font-size: 20px;
    font-weight: 500;
}
.story-content img{
    width: 40%;
    height: 100%;
    border-radius: 50%;
    margin-right: 20px;
}
.about-content{

    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
.fort{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-right: 40px;
    
   
}
.mission-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding-bottom: 40px;
}
.mission{
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: justify;
    padding-bottom: 40px;
    color: #ec268f;
    font-size: 30px;
    font-weight: 700;
}
.mission-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    padding-bottom: 40px;
    margin: 60px;
    
}
.core{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
  color: #ec268f;
}
.core-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
    margin: 40px;
    
}
.special{
    display:flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.special-flex{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 40px;
}
.img{
    
    height: 100%;
   
    margin-right: 20px;
}
.passion{
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: start;
    flex-direction: column;
    padding-bottom: 40px;
   
}
@media (max-width: 768px) {
    .list{
        display: none;
    }
    .bar{
        display: none;
    }
}

@media(min-width:1326px){     
    .bar{
        display: none;
    }
}
@media(max-width:1150px){
    
    .bar{
        display:  inline-block;
    }
}